<div id="about" class="container">
<div class="content">
<div class=row>
  <div class="col-xs-12">
  <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
    <div id="my-Image" class="img-responsive"></div>
</div>
<div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
  <h1 id="heading">Atharva Pandey</h1>
  <p id="my-content" class="well well-sm well-lg">I am from India, born and brought up in
    Chhattisgarh, Raipur.I have 1 year of Industry experience working as Junior JAVA Developer.I have been
    working on other projects as well using bootstrap,css,html,JavaScript extensively. Recently, I have been
    working on Angular 2 applications.My future objective is to reach advanced level of full stack development</p>
</div>
</div>
</div>
</div>
</div>
