<hr>
<div style=" color:white;" class="footer colorSetup">
  <div style=" color:white;" class="footer-left col-md-4 col-sm-6">
    <div style=" color:white;" class="icons">
      <a href="https://www.facebook.com/razerblast"><i class="fa fa-facebook"></i></a>
      <a href="https://github.com/atharvajava"><i class="fa fa-github-alt"></i></a>
      <a href="https://www.linkedin.com/in/atharva-pandey-a3b297115/"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.freecodecamp.com/atharvajava"><i class="fa fa-free-code-camp"></i></a>
      <a href="http://codepen.io/atharvajava/"><i class="fa fa-codepen"></i></a>
    </div>
  </div>
  <div style=" color:white;"  class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span style=" color:white;"> Financial District, Mantri Celestia D-2101</span> Hyderabad, India</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p style=" color:white;"> (+91) 8142 777 088</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a style=" color:white;" href="#"> atharvajava@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2><span style=" color:white;"> AP</span></h2>
    <p style=" color:white;" class="menu">
      <a href="#home"> Home</a> |
      <a href="#about"> About</a> |
      <a href="#resume"> Resume</a> |
      <a href="#portfolio"> Portfolio</a> |
      <a href="#hireme"> Hireme</a> |
      <a href="#contact"> Contact</a>
    </p>
    <p style=" color:white;" class="name"> Atharva Pandey &copy; 2016</p>
  </div>
</div>