<div class="container">
<h1>PORTFOLIO</h1>
<ul class="hidden-xs diamonds">
    <li>
      <a href="http://s.codepen.io/atharvajava/debug/kkVgRZ/yYMyLDNOjLBk" class="flipper">
        <div class="front">
          <img src="http://lorempixel.com/250/250/technics/1" alt="">
        </div>
        <div class="back">
          <span>Tribute Page</span>
        </div>
      </a>
    </li>
    <li>
      <a href="https://github.com/atharvajava/WeatherAPI" class="flipper">
        <div class="front">
          <img src="http://lorempixel.com/250/250/technics/2" alt="">
        </div>
        <div class="back">
          <span>Weather API</span>
        </div>
      </a>
    </li><li>
      <a href="#" class="flipper">
        <div class="front">
          <img src="http://lorempixel.com/250/250/technics/3" alt="">
        </div>
        <div class="back">
          <span>Twitch API</span>
        </div>
      </a>
    </li>
    <li>
      <a href="https://github.com/atharvajava/Calculator" class="flipper">
        <div class="front">
          <img src="http://lorempixel.com/250/250/technics/4" alt="">
        </div>
        <div class="back">
          <span>Calculator</span>
        </div>
      </a>
    </li>
    <li>
      <a href="https://github.com/atharvajava/Pomodoro" class="flipper">
        <div class="front">
          <img src="http://lorempixel.com/250/250/technics/5" alt="">
        </div>
        <div class="back">
          <span>Pomodoro</span>
        </div>
      </a>
    </li>
    <li>
      <a href="https://github.com/atharvajava/RandomQuoteApi" class="flipper">
        <div class="front">
          <img src="http://lorempixel.com/250/250/technics/6" alt="">
        </div>
        <div class="back">
          <span>Random Quote API</span>
        </div>
      </a>
    </li>
    <li>
      <a href="https://github.com/atharvajava/EventManagement" class="flipper">
        <div class="front">
          <img src="http://lorempixel.com/250/250/technics/7" alt="">
        </div>
        <div class="back">
          <span>Event Manager</span>
        </div>
      </a>
    </li>
    <li>
      <a style="margin-left:233px;" href="https://github.com/atharvajava"><i class="fa fa-caret-square-o-down text-center fa-2x" aria-hidden="true"><br>more</i></a>
    </li>
</ul>
<!-- SMART PHONE VIEW -->
<ul class="hidden-sm hidden-md hidden-lg text-center">
    <ul>
      <a href="http://s.codepen.io/atharvajava/debug/kkVgRZ/yYMyLDNOjLBk">
      <li>
      <img src="http://lorempixel.com/250/250/technics/1"  class="img-responsive smallImg" alt="">
      Tribute Page</li></a>

      <a href="https://github.com/atharvajava/WeatherAPI">
      <li class="smallList">
      <img src="http://lorempixel.com/250/250/technics/2"  class="img-responsive smallImg" alt="">
      Weather API</li></a>

      <a href="#">
      <li class="smallList">
      <img src="http://lorempixel.com/250/250/technics/3"  class="img-responsive smallImg" alt="">
      Twitch API</li></a>

      <a href="https://github.com/atharvajava/Calculator">
       <li class="smallList">
      <img src="http://lorempixel.com/250/250/technics/4"  class="img-responsive smallImg" alt="">
      Calculator</li></a>

      <a href="https://github.com/atharvajava/Pomodoro">
      <li class="smallList">
      <img src="http://lorempixel.com/250/250/technics/5"  class="img-responsive smallImg" alt="">
      Pomodoro</li></a>

      <a href="https://github.com/atharvajava/RandomQuoteApi">
      <li class="smallList">
      <img src="http://lorempixel.com/250/250/technics/6"  class="img-responsive smallImg" alt="">
      Random Quote API</li></a>

      <a href="https://github.com/atharvajava/EventManagement">
      <li class="smallList">
      <img src="http://lorempixel.com/250/250/technics/7"  class="img-responsive smallImg" alt="">
      Event Manager</li></a>

      <br><br><a href="https://github.com/atharvajava">more . . .</a>
  </ul>  
</ul>
</div>
