<div id="about" class="container">
<h1>About</h1>
<div class=row>
  <div class="col-xs-12 content">
  <div class="col-md-5">
<img id="my-Image" src="https://yt3.ggpht.com/-3NqgZMYzCZA/AAAAAAAAAAI
/AAAAAAAAAAA/FcTN8c8kjSQ/s900-c-k-no-rj-c0xffffff/photo.jpg" class="img-responsive text-center pull-left" />
</div>
<div class="col-md-6">
  <p id="my-content" class="well">Hello and welcome to my visual portfolio.I am from India, born and bought up in
    chhattisgarh, Raipur. I love gaming, listening music, singing, swimming and dancing. Once upon a time
    I was also a Dance Trainer and owned a Dance studio, but then I realized its better to be a good Developer
    then a bad choreographer.In my free time I am always coding or reading about the newest trends in computer science related.
    I have 1 year of Industry Ecperience working as Junior JAVA Developer.I have been
    working on other side projects as well using bootstrap,css,html,JavaScript extensively. Recently, I have been
    working on Angular 2 applications.<br><br> My future objective is to reach advanced level of full stack development and also have a good foundaton of machine learning.
    I don't ever want to stop my learning and want to give my best.So that I can become a Software Architect in future.</p>
</div>
<div class="col-md-1"></div>
  </div>
</div>
