<div class="text-center ">
<div class="well"><h1><b>{{title|uppercase}}</b></h1>
<p><b>()=>HTML/CSS + Frameworks + JAVA + JS,
()=>"portfolio of Indian developer Atharva Pandey";</b></p></div>
<div class="row"><br><br><br>
    <div class="col-lg-4">
    <i class="fa fa-cloud fa-5x" aria-hidden="true"></i><br>
    <a href="#portfolio" class="btn btn-default">Explore Projects</a></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    <i style="margin-top:20px;" class="fa fa-child fa-5x" aria-hidden="true"></i><br>
    <a href="#about" class="btn btn-default">Explore Me! </a></div>
</div>
</div>
